.header
  padding-top: 8px
  padding-bottom: 8px
  &__box
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    // display: inline-block
  &__navbar
    // display: inline-block
  &__link 
    font-size: 16px
    +reg
    color: $text-color-black
  &__contacts
    // display: inline-block
    background-color: $section-bg-color
