.third
  position: relative
  background-image: url('../img/header/header-bg.jpg')
  background-position: left-center
  background-size:  57%
  background-repeat: repeat-y
  &__container
    margin-top: 143px
  &__title
    position: absolute
    left: 18%
    top: -50px
    padding: 16px 31px
  &__box
    display: flex
  &__card-box
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    flex-basis: 70%
    padding-top: 91px
    padding-bottom: 95px
  &__card
    display: flex
    flex-direction: column
    align-items: center
    width: 198px
    margin-bottom: 36px
    background: $text-color-white
    padding-top: 20px
    padding-bottom: 38px
    padding-right: 0
  &__card-image
    margin-bottom: 20px
    width: 100%
    max-width: 50px
  &__card-text
    +reg
    font-size: 18px
    text-align: center
    text-transform: uppercase
  &__info
    margin-left: 34px
    padding-top: 80px
  &__list
    display: flex
    flex-direction: column
    justify-content: space-
  &__item
    display: flex
    list-style: none
    margin-bottom: 67px
  &__number
    display: inline-block
    +black
    color: $main-color
    font-size: 35px
    margin-top: -5px
  &__line
    display: inline-block
    font-size: 35px
    margin-top: -8px
    margin-left: 10px
    margin-right: 10px
  &__text
    display: inline-block
    +reg
    font-size: 20px
    line-height: 25px
    color: $text-color-main
  
