.third
  position: relative
  background-image: url('../img/header/header-bg.jpg')
  background-position: left-center
  background-size:  57%
  background-repeat: repeat-y
  &__container
    margin-top: 143px
  &__title
    position: absolute
    left: 18%
    top: -55px
    padding: 16px 30px
  &__box
    display: flex
  &__card-box
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    flex-basis: 70%
    padding-top: 91px
    padding-bottom: 65px
  &__card
    display: flex
    flex-direction: column
    align-items: center
    width: 198px
    height: 115px
    margin-bottom: 36px
    background: $text-color-white
    padding-top: 20px
    padding-bottom: 38px
    padding-right: 0
    animation: fadein 4s linear
  &__card-image
    margin-bottom: 20px
    width: 100%
    max-width: 50px
  &__card-text
    +reg
    font-size: 18px
    text-align: center
    text-transform: uppercase
  &__info
    margin-left: 40px
    padding-top: 80px
  &__list
    display: flex
    flex-direction: column
    justify-content: space-
  &__item
    display: flex
    list-style: none
    margin-bottom: 67px
  &__number
    display: inline-block
    +black
    color: $main-color
    font-size: 35px
    margin-top: -5px
  &__line
    display: inline-block
    font-size: 35px
    margin-top: -8px
    margin-left: 10px
    margin-right: 10px
  &__text
    display: inline-block
    +reg
    font-size: 20px
    line-height: 25px
    color: $text-color-main
  
@media (max-width: 992px)
  .third
    background-size: 100%
    &__box
      flex-direction: column
    &__card-box
      flex-basis: 100%
      padding-bottom: 0

@media (max-width: 992px)
  .third
    &__card-box
      justify-content: space-around
      padding-top: 91px
      padding-bottom: 0
    &__info
      margin-left: 0px
      padding-top: 0px

@media (max-width: 480px)
  .third
    &__container
      margin-top: 80px
    &__card
      width: 100%
      max-width: 198px
      margin-left: 10px
      margin-right: 10px
    &__card-box
      padding-top: 60px
    &__info
      padding-left: 10px
    &__item
      margin-bottom: 30px
    &__text
      font-size: 18px
      line-height: 20px